<h2>検索結果</h2>
<% if @range == "User" %>
<% @users.each do |user| %>
<div><%= link_to users_mypage_path(user.id) do %><%= user.name %><% end %></div>
<% end %>

<% else %>

<% @impressions.each do |impression| %>
<div><%= link_to impression_path(impression.id) do %><%= impression.title %><% end %></div>
<% end %>

<% end %>