<div class="container">
概要
このサイトの特徴、使い方
このサイトは遊んだゲームの感想や思い出話、ゲームの世界観の考察を
自由に楽しく語って閲覧、コメントできるサイトです。
発売日にネタバレのある内容の投稿も原則OKです。タイトルにネタバレアリと書いて投稿してください。

禁止事項
作品、個人への誹謗中傷
ゲームと全く関係がない投稿
etc
違反した人は管理者権限で強制的に退会させます。
</div>