<div class="container">
  <h5><%= @user.name %>さんの会員情報</h5>
  <table class="table">
    <tr>
      <td>会員ID</td>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>会員ステータス</td>
      <td><% if @user.is_active == true %>有効<% else %>退会<% end %></td>
    </tr>
  </table>
</div>