<div class="container">
<h4>通知一覧</h4>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div><%= @notification.visitor.name %>さんが</div>
<% case notification.action %>
<div><% when 'follow' %>あなたをフォローしました</div>
<div><% when 'favorite' %>あなたの投稿にいいねしました</div>
<div><% when 'comment' %>あなたの投稿にコメントしました</div>
<% end %>
</div>